<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body id="abouthelp">
    {{>header}}


<p id="heading"> Created by {{name}} </p>
<img id="photo" src="img/dp.jpg">
<div class="logo"> <h5> Connect with me on: </h5> 
<img id="linkedIn" onclick="window.location.href='https://www.linkedin.com/in/adamsy/'" class="icons" src="img/linkedIn.jpg"> 
<img id="gitHub" onclick="window.location.href='https://github.com/adamsyy'" class="icons" src="img/GitHub.jpg" />
</div>
    

</body>


<script src="" async defer></script>

</body>

</html>